{% extends 'main.html' %}
{%load  static %}

{%block content%}
<div class="app-wrapper">


  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">			    
      <h1 class="app-page-title">Settings</h1>
      <hr class="mb-4">
            <div class="row g-4 settings-section">
              <div class="col-12 col-md-4">
                <h3 class="section-title">Remote Meter Control
                  
                </h3>
                <div class="section-intro">Warning.  Turning this setting off will stop the meter from reading and interrupt the water supply .</div>
              </div>
              <div class="col-12 col-md-8">
                <div class="app-card app-card-settings shadow-sm p-4">			    
            <div class="app-card-body">
              <form action="/settings/updatesettings/{{client.switchid}}" method="post" class="settings-form">
                {% csrf_token %}
                <div class="form-check form-switch mb-3"> 
                  <input type="hidden" id="client" name="clientid" value="{{client.id}}">
                <input class="form-check-input" type="checkbox" name ="switch-meter" id="settings-switch-1"   {% if client.isactive == False %} disabled {%endif %}  {% if client.switch %} checked {%endif %}>  
                <label class="form-check-label" for="settings-switch-1">Meter switch</label>
              </div>
              
              <div class="mt-3">
                  <button type="submit" class="btn app-btn-primary" {% if client.isactive == False %} disabled {%endif %}> Save Changes</button>
              </div>
              </form>
            </div><!--//app-card-body-->						    
        </div><!--//app-card-->
              </div>
            </div><!--//row-->
      <hr class="my-4">
    </div><!--//container-fluid-->
    {% if messages %}
    <div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="message-modal-label">Message</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#message-modal').modal('show');

            $('.btn').click(function(event) {
              // Add your event listener code here.
              $('#message-modal').modal('hide')
          });
        });
    </script>
{% endif %}
  </div>
  {%endblock%}
